body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: linear-gradient(144deg, rgb(39 66 150) 0%,rgba(89, 12, 153, 0.815) 100%); */
  /* background-image: linear-gradient( 113.3deg,  rgba(217,9,27,1) 6.9%, rgba(22,68,150,1) 75% ); */
  background-color: #292629;
  /* background-image: linear-gradient(62deg, #393c3d 0%, #494949 50%, #292629 50%); */

}

a {
  color:white;
  mix-blend-mode: difference;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  overflow:hidden;
}

canvas {
  /* background-color: #06092c; */
}

#welcome {
  width:100vw;
  height:100vh;
  text-align:center;
  padding-top:250px;
  font-size:80px;
  /* mix-blend-mode: difference */
  color:transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#controlsDiv {
  position:absolute;
  right:0px;
  top:0px;
  color:white;
}